* text=auto eol=lf

# Backend - Spring Boot
*.java text eol=lf
*.xml  text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.properties text eol=lf
*.sql  text eol=lf

# Frontend - Angular
*.ts   text eol=lf
*.js   text eol=lf
*.json text eol=lf
*.css  text eol=lf
*.scss text eol=lf
*.html text eol=lf

# Scripts
*.sh   text eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
